////// Color Palette //////


$color1: #753031;
$color2: #614436;
$color3: #E0BA48;
$color4: #344360;
$color5: #ffffff;
$color6: #333333;
$color7: #515356;
$color8: #4A4A4A;

$backgroundcolor1: #D8D8D8;
$backgroundcolor2: #E0BA48;


