$backgroundcolor1: #5C676D;
$backgroundcolor2: #A3B3C0;
$backgroundcolor3: #0A3049;
$backgroundcolor4: #0B6EB2;

$textsize16: 16px;
$textsize15: 15px;
$textsize60: 60px;
$textsize30: 30px;
$textsize42: 46px;
$textsize120: 7.500em; //convert em to percentage - (120px/16px) *100 = 7.500em

$blue-text: #106db3;
$grey-text: #a3b3bf;
$grey-text2: #DDD;
$white-text: #FFF;
$blue-text2: #083452;


$footer-bgcolor: #073453;
$footer-linkcolor: #B2B5BA;
$footer-textsize: 15px;


$post-inactivecolor: #083452;
$post-activecolor: #fff;
$post-height: 330px;


$border-color1: #CCC;