/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px; }

.container {
  width: 100%;
  margin: 0 auto;
  font-family: "Helvetica"; }

img {
  max-width: 100%; }

header {
  width: 100%;
  height: 50px; }

.main {
  width: 100%;
  height: 400px;
  background-color: #0B6EB2;
  background-image: none;
  background-size: cover;
  font-size: 0.750em; }
  .main #leftnav,
  .main #rightnav {
    display: flex;
    align-items: center; }
  .main #leftnav {
    float: left; }
    .main #leftnav li {
      margin-top: 10px;
      margin-left: 10px; }
    .main #leftnav img {
      width: 30px; }
  .main #rightnav {
    float: right; }
    .main #rightnav li {
      margin-top: 12px;
      margin-right: 10px; }

.maintitle {
  text-align: center;
  margin-top: 125px;
  margin-bottom: 125px;
  color: #FFF; }
  .maintitle h1 {
    font-size: 45px;
    text-align: center; }
  .maintitle h6 {
    margin-top: 10px;
    font-size: 12px; }

article {
  width: 100%;
  color: #a3b3bf;
  text-align: center;
  margin-top: 75px; }

.articleheadline h2 {
  font-size: 42px;
  margin-top: 250px;
  color: #083452; }

.articledate {
  display: inline-block;
  margin-top: 25px; }
  .articledate img {
    float: left;
    height: 16px;
    width: 16px; }
  .articledate p {
    float: left;
    margin-left: 25px;
    margin-bottom: 40px; }

.articlecontent {
  margin-left: 25px;
  margin-right: 25px; }
  .articlecontent blockquote {
    height: 60px;
    font-size: 30px;
    color: #106db3;
    border-left: 2px solid #CCC;
    margin-bottom: 40px;
    padding-left: 20px; }
  .articlecontent p {
    margin-bottom: 40px;
    text-align: left;
    line-height: 24px; }

/* This section outlines the article options*/
.articleoptions {
  width: 100%;
  color: #DDD;
  clear: both; }
  .articleoptions img {
    display: inline-block;
    vertical-align: middle;
    max-width: 33px;
    min-width: 33px; }

.readcomments,
.readlater,
.sharepost {
  margin-bottom: 2px; }

.icon1,
.icon2,
.icon3 {
  width: 33px;
  height: 30px;
  float: left; }

.icon-description1,
.icon-description2,
.icon-description3 {
  height: 30px; }
  .icon-description1 p,
  .icon-description2 p,
  .icon-description3 p {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #FFF; }

.icon1,
.icon2 {
  background-color: #5C676D; }

.icon3 {
  background-color: #0A3049; }

.icon-description1,
.icon-description2 {
  background-color: #A3B3C0; }

.icon-description3 {
  background-color: #0B6EB2; }

/* This section outlines the aside section - more details to follow*/
aside {
  width: 100%;
  text-align: middle; }

.asideportrait {
  margin-top: 75px; }
  .asideportrait img {
    display: block;
    margin: 0 auto; }

.asidelinks {
  margin-left: 80px;
  margin-top: 35px;
  display: block; }

.asidesocial li {
  float: left; }
.asidesocial h3 {
  font-size: 15px;
  color: #a3b3bf;
  margin-left: 20px;
  margin-bottom: 40px; }

.asidead img {
  display: block;
  margin: 0 auto;
  margin-top: 50px; }

.sidebar {
  width: 100%; }
  .sidebar p {
    float: right;
    margin-right: 60px;
    font-size: 15px;
    color: #a3b3bf;
    text-decoration: underline; }

.sidebarheading {
  margin-top: 40px;
  width: 100%; }
  .sidebarheading h2 {
    clear: both;
    margin-left: 60px;
    font-size: 15px;
    font-style: bold;
    color: #106db3; }
  .sidebarheading p {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    font-size: 15px;
    color: #a3b3bf; }

/*This section outlines the Popular Post Header*/
.postheadline {
  width: 100%;
  clear: both;
  text-align: center; }
  .postheadline h2 {
    /* MOST POPULAR POSTS: */
    letter-spacing: 2.5px;
    line-height: 72px;
    text-align: center;
    font-size: 50px;
    color: #083452;
    margin-top: 75px;
    margin-bottom: 75px; }

/*This section outlines the Popular Posts Imagess*/
.popularposts {
  width: 100%;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-left: 40px; }
  .popularposts h2 {
    color: #083452;
    margin-top: 290px;
    margin-left: 5px; }
  .popularposts .post1,
  .popularposts .post2,
  .popularposts .post3,
  .popularposts .post4 {
    width: 325px;
    height: 330px;
    float: left;
    margin-bottom: 10px; }
  .popularposts .post1 {
    background-image: url(../images/surfer.jpg); }
  .popularposts .post2 {
    background-image: url(../images/beer.jpg); }
    .popularposts .post2 h2 {
      color: #fff; }
  .popularposts .post3 {
    background-image: url(../images/zack.jpg); }
    .popularposts .post3 h2 {
      margin-top: 260px; }
  .popularposts .post4 {
    background-image: url(../images/booze.jpg); }

footer {
  width: 100%;
  background-color: #073453;
  float: left;
  clear: both;
  text-align: center; }

#bottomleftnav {
  padding-top: 10px; }
  #bottomleftnav img {
    display: block;
    margin: 0 auto; }
  #bottomleftnav p {
    margin-top: 15px;
    color: #B2B5BA; }

#bottomrightnav {
  text-align: center;
  margin-left: 85px;
  margin-bottom: 20px; }
  #bottomrightnav li {
    float: left;
    padding-right: 50px;
    padding-bottom: 10px; }
    #bottomrightnav li h3 {
      font-size: 15px;
      color: #B2B5BA; }

@media screen and (min-width: 650px) {
  .main {
    height: 500px;
    background-image: url(../images/surf.jpg);
    background-size: cover;
    font-size: 1em; }
    .main #rightnav {
      float: right; }

  .maintitle {
    margin-top: 170px;
    margin-bottom: 300px; }
    .maintitle h1 {
      font-size: 55px; }
    .maintitle h6 {
      font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
