$backgroundcolor1: #5C676D;
$backgroundcolor2: #A3B3C0;
$backgroundcolor3: #0A3049;
$backgroundcolor4: #0B6EB2;

$textsize16: 16px;
$textsize15: 15px;
$textsize60: 60px;
$textsize30: 30px;
$textsize42: 46px;
$textsize120: 120px;

$blue-text: #106db3;
$grey-text: #a3b3bf;
$grey-text2: #DDD;
$white-text: #FFF;
$blue-text2: #083452;


$footer-bgcolor: #073453;
$footer-linkcolor: #B2B5BA;
$footer-textsize: 15px;


$post-inactivecolor: #083452;
$post-activecolor: #fff;
$post-height: 330px;


$border-color1: #CCC;





@include icon-size;

// THIS IS A REFINED NESTED CSS//


// THIS IS THE OLD CSS THAT ORIGINALLY USED//




.main {
	// font-size: 20px;
	width: 1300px;
	height: 528px;
	background-image: url(../images/surf.jpg);
	background-size: cover;

}


#leftnav {
	font: bold;
	margin-left: 90px;
	padding-top: 10px;

	li{
	float: left;
	padding-left: 10px;
	}

		h3{
		margin-top: 15px;
		}
}


#rightnav {
	margin-right: 120px;

	li{
	float: right;
	padding-left: 20px;
	padding-top: 10px;
	}

		h3{
		padding-top: 5px
		}
}

.maintitle {
	text-align: center;
	margin-top: 155px;
	margin-bottom: 185px;
	color: $white-text;

		h1{
		font-size: $textsize120;
		text-align: center;
		}

		h6 {
		font-size: $textsize15;
		}
}
